body
{
    margin: 0;
    font-family: arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #d8dce0;
    background-image: url('../../images/topbackground.gif');
    background-repeat: repeat-x;
    padding:10px;
    padding-top:0px;
}

#browser_msg
{
    margin-top:3px;
    position: absolute;
    left: 300px;
    padding:2px;
    top: 0px;
    font-family: arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #FFCC00;
    color: #000;
    border-right-style: solid;
    border-right-width: 10px;
    border-right-color: #FFCC00;
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: #FFCC00;
}


#logo {
    padding:5px;
}
.text-beta{color: #CC0000;}
#footer{color: #909090; text-align:center;padding:10px;}
#header
{
}
#header-bottom
{
    background-color: #ECF2FF;
    padding: 4px;
}

#leftmenu
{
margin-right:10px;
    padding: 10px;
    float: left;
    width:150px;
    height:350px;
    vertical-align:top;
}
#middlecontent {
padding:10px;
}

.link {
    margin:10px;
    padding:4px;
}

/* Custom Button */
html:not([lang*=""]) button.btn {margin:0 -3px;}
* html .btn span {padding-top:0;}
* html button.btn {padding-bottom:1px;}
.btn {text-shadow: white 1px 1px 0px;display:inline-block;background:none;margin:0;padding:3px 0;border-width:0;overflow:visible;font:12px Arial,Sans-serif;text-decoration:none;color:#333;}
.btn span {background:#ddd url('../../images/bg-button.gif') repeat-x 0 0;margin:0;padding:3px 0;border-left:1px solid #939393;border-right:1px solid #939393;}
.btn span span {position:relative;padding:3px .4em;border-width:0;border-top:1px solid #939393;border-bottom:1px solid #939393;}
.btn:hover span, .btn:hover span span, .btn:focus span, .btn:focus span span {border-color:#666666 !important;color:#000;cursor:default;}
.btn:active span {background-position:0 -400px;background:none;background-color:#ddd;outline:none;cursor:default;border-color:#939393}
.btn:focus, .btn:active {outline:none; cursor:default;border-color:#939393}

.textbox {
    border: 1px inset #BEBEBE;
}

.footer-border
{
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #D5D5FF;
}

.error {
    color:Red;
}
.success {color:Green;}

#mycarousel.jcarousel-container-horizontal {
    width: 900px;
    height: 800px;
}
 
#mycarousel .jcarousel-clip-horizontal {
    width: 900px;
    height: 800px;
}
 
#mycarousel .jcarousel-item,
#mycarousel .jcarousel-item-placeholder {
    width: 900px;
    height: 800px;
}
 
#mycarousel .jcarousel-item-horizontal img {
}
 
#mycarousel .jcarousel-item-horizontal p {
    margin: 5px;
    text-align: left;
    clear: both;
    white-space: wrap;
}
 
#mycarousel .jcarousel-item-placeholder {
    background: transparent url(../../images/loading.gif) 50% 30% no-repeat;
}
 
#mycarousel .jcarousel-next {
    top: 150px;
    right: -55px;
}
 
#mycarousel .jcarousel-prev {
    top: 150px;
    left: 10px;
}
 
#mycarousel form {
    margin-top: 10px;
}
 
#mycarousel form label,
#mycarousel form small {
    display: block;
}

/**
 * This <div> element is wrapped by jCarousel around the list
 * and has the classname "jcarousel-container".
 */
 
 #container {
    text-align:left;
    margin:0px;
    padding:0px;
 }
.jcarousel-container {
    position: relative;
}

.jcarousel-clip {
    z-index: 2;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.jcarousel-list {
    z-index: 1;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.jcarousel-list li,
.jcarousel-item {
    float: left;
    list-style: none;
    /* We set the width/height explicitly. No width/height causes infinite loops. */
    width: 65px;
    height: 75px;
}

/**
 * The buttons are added dynamically by jCarousel before
 * the <ul> list (inside the <div> described above) and
 * have the classnames "jcarousel-next" and "jcarousel-prev".
 */
.jcarousel-next {
    z-index: 3;
    display: none;
}

.jcarousel-prev {
    z-index: 3;
    display: none;
}    
    
    
.jcarousel-skin-ie7 .jcarousel-container
{
    width:1024px;
    height:768px;
}

.jcarousel-skin-ie7 .jcarousel-container-horizontal {
    width: 845px;
    padding: 10px 50px;
}

.jcarousel-skin-ie7 .jcarousel-clip-horizontal {
    width:  845px;
    height: 77px;
}

.jcarousel-skin-ie7 .jcarousel-item {
    text-align: center;
}



/**
 *  Horizontal Buttons
 */
.jcarousel-skin-ie7 .jcarousel-next-horizontal {
    position: absolute;
    top: 20px;
    width: 100px;
    height: 600px;
    cursor: pointer;
    background: transparent url(../../images/next.gif) no-repeat 0 0;
}

.jcarousel-skin-ie7 .jcarousel-next-horizontal:hover {
}

.jcarousel-skin-ie7 .jcarousel-next-horizontal:active {

}


.jcarousel-skin-ie7 .jcarousel-prev-horizontal {
    position: absolute;
    top: 20px;
    width: 200px;
    height: 600px;
    cursor: pointer;
    background: transparent url(../../images/prev.gif) no-repeat 0 0;
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal:hover {
}

.text-launched
{
    font-size: 10px;
    color:Red;
    
}

.userlogin {
    margin:4px;
    padding:5px;
    float:right;
    font-size: 12px;
    font-weight:normal;
    color:Red;
    font-weight:bold;
    text-decoration:none;
}

a.userlogin:visited {
    margin:4px;
    padding:5px;
    float:right;
    font-size: 12px;
    color:Red;
    font-weight:bold;
    text-decoration:none;
}

a.userlogin:hover {
    margin:4px;
    padding:5px;
    float:right;
    font-size: 12px;
    color:Red;
    font-weight:bold;
    text-decoration:none;
}

a.userlogin:active {
    margin:4px;
    padding:5px;
    float:right;
    font-size: 12px;
    color:Red;
    font-weight:bold;
    text-decoration:none;
}

a:visited {
    color:blue      ;
}

a:link {
    color:blue      ;
}

a:hover {
    color:blue      ;
}

a:active{
    color:blue      ;
}
.text-header {
    font-size:18px;
    font-weight:bold;
}

/* Version 1.1 */
#header_style
{
    background-color: Green;
    margin: 3px;
    padding: 5px;
    background: url(../../images/top-bar.gif) repeat-x;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color: #FFFFFF;
}

#news {
    padding:10px;
}