body
{
    font-family: arial, Helvetica, sans-serif;
    font-size: 12px;
    margin:0px;
}

.text-beta{color: #CC0000;}
#footer{color: #909090; text-align:center;}
#header
{
    padding:8px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #B0CAFF;
}
#header-bottom
{
    background-color: #ECF2FF;
    padding: 4px;
}