<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="LocalTime" value="5:30"/>
	</appSettings>
	<connectionStrings>
		<add name="con" connectionString="1CxackgP6zpGYfJQe0mRJKWN0kcgSvcKy6CCNTS5/VlWYVwSI8K9+FBaEKfVZgnsHk6JQfGcNHms3ecZiW+9wb/L5OhQEw5Eb5kOMItvsbYRdzD6fdq5W/30UR1TSIudCPdTP4N9rXXrJcj8Zf6GfEgxhHjpCkja1x2QxpsSi0LEoIgTlcK/qs0V94xDPBGHAfgVXu7V6vhgooQUnJz9gNyHhYzA0zjQGLAYYopt2zO7J7KZcJwBhumhn7oniRmL" providerName="System.Data.SqlClient"/>
		<!--<add name="con" connectionString="qEVt7BghHJo0FvI9XvXFdUMEQ9/uXlEhw3fHsmh8jCd52WAKuDvmlwIjDwOItM2Y7D85RHbhkD/ltrD1qgKdLkN+2NfzL90YO6X8cXrJH28y+vAb2ceDqRXreSK7MfU4pyXHZt8EEm4uY3T/Nr2qFLCnfBQ5NVl53NA2YH0m42cUdKfHB9vulHpsj3CiSjJs20L7IGLzq8wj1OCHOo47de3g1kmSDBMSmnfBFzGet4MLSKY5T8jVvfXbsziE57HE80iU3nDNCGnZXjayRH328c4I43o5HXc0kMd0Z7xULvueqUFvX3SnbbNeqa1Lu9hW" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<customErrors mode="Off">
		</customErrors>
		<pages theme="Default"></pages>
	</system.web>
	<system.codedom>
	</system.codedom>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
