<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="con" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=NF;Data Source=LUDMAL_PC" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>